extends layout
block content
 h1= title
 - let onionid = toShow._id
 - let onion_weight = toShow.onion_weight
 - let onion_price = toShow.onion_price
 - let onion_color = toShow.onion_color
 div
    div.row
     div(class='onionAttr mr-3') Onion ID is:
     div #{onionid}
    div.row
     div(class='onionAttr mr-3') Onion Weight is:
     div #{onion_weight}
    div.row
     div(class='onionAttr mr-3') Onion Cost is:
     div #{onion_price}
    div.row
     div(class='onionAttr mr-3') Onion Color is:
     div #{onion_color}